//config home
@import '../base/variables';

.menu-home{
   margin: 2%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,auto);
   
    a,p{
        display:flex ;
        justify-content: center;
    }
    a{
        background-color:#6F62F5;
        margin: 0px 2px 0px 2px;
    }
    p{
        background-color: rgba(111, 98, 245, 0.5);
        margin: 0px 2px 4px 2px;
        padding-bottom: 20px;
    }
    }
.text-ejemplo{

    line-height: 30px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

}
h1{
    display: flex;
    justify-content: center;
    font-size:70px;
    font: bold; 
    background-color:#788896;
}